<div class="container">
	
	<div class="text-center">
		<h1>Welcome to our Shipping App!</h1>
	</div>

<div class="container-fluid text-center bg-grey">
  <h3>Here's just a few of our ocean frieghters</h3>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://www.shipspotting.com/photos/middle/6/0/5/2545506.jpg">
        <p><strong>Boaty</strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://www.trawlerpictures.net/uploads/gallery/album_97/med_gallery_18_109_1323697988_4912.jpg">
        <p><strong>lil Boat</strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--h2gn1F_T--/c_scale,f_auto,fl_progressive,q_80,w_800/17h9qlc9aemg2jpg.jpg">
        <p><strong>The Flying Dutchman</strong></p>
      </div>
    </div>
</div>

</div>

</div>


