<div class="container">
	
	<div class="text-center">
		<h1>Welcome to our Shipping App!</h1>
	</div>

	<h1>Boat</h1>

		<% @boats.each do |t| %>
			<%= t.name %>
			<%= t.containers %>
			<%= t.location %>

			

		<% end %>

</div>

